In [10]:
print("Twikle, Twikle , Litle Star \n\t How i wonder what you are! \n\t\t Up above the world so high! \n\t\t Like a diamond in the Sky");
print("Twikle, Twikle , Litle Star \n\t How i wonder what you are!");

Twikle, Twikle , Litle Star
	 How i wonder what you are!
		 Up above the world so high!
		 Like a diamond in the Sky
Twikle, Twikle , Litle Star
	 How i wonder what you are!

In [11]:
import sys
print(sys.version)

3.8.8 (default, Apr 13 2021, 15:08:03) [MSC v.1916 64 bit (AMD64)]

In [12]:
import datetime
print(datetime.datetime.now());

2021-12-28 23:31:05.787615

In [13]:
from math import pi
radius=float(input("Enter the Radius of Circle:  "));
print(3.14*radius*radius)

Enter the Radius of Circle: 2
12.56

In [17]:
first=input("First name: ")
last=input("Last name: ")
print(last+" "+first)

First name: Muhammad Rizwan
Last name: Jamali
Jamali Muhammad Rizwan

In [25]:
num1 = int(input("Enter 1st Number : "))
num2 = int(input("Enter 2nd Number : "))
result=num1+num2;
print("Result of Addition: ")
print(result)

Enter 1st Number : 12
Enter 2nd Number : 12
Result of Addition:
24